.btn,.btnF{
    background: linear-gradient(90deg, #6A11CB 0%, #2575FC 100%);
    /* SHADOW GRADIENT */
    
    box-shadow: 0px 5px 15px rgba(0, 70, 187, 0.4);
    border-radius: 10px;
    color: white;
}

.btnF {
    font-weight: 700;
font-size: 18px;
line-height: 23px;

color: #FFFCFC;
background: #2389FF;
border-radius: 5px;
}

li:hover{
    border-bottom: 2px solid #6A11CB ;
    padding-bottom: 3px;

}